<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>PizzaServletWebApi</display-name>
    <servlet-name>PizzaServletWebApi</servlet-name>
    <servlet-class>fr.pizzeria.admin.web.PizzaServletWebApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PizzaServletWebApi</servlet-name>
    <url-pattern>/api/servlet/pizzas</url-pattern>
  </servlet-mapping>
</web-app>