# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

README.html
.metadata/
Servers/

*.class
*.jar
.recommenders/
pizzeria-console-objet/data/
.sonarlint/
Servers2/
JavaScript/.vscode/settings.json
JavaScript/.vscode/
JavaScript/Sandbox/node_modules/lodash/subtract.js
JavaScript/Sandbox/node_modules/
JavaScript/Angular Project/node_modules/.bin/webpack.cmd
JavaScript/Angular Project/node_modules/
JavaScript/Angular Project/public/app.bundle.js
JavaScript/Angular Project/public/app.bundle.js.map
JavaScript/Angular Test/node_modules/
